{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Latest Events -->
    {% if latest_events %}
        <div class="am-g fxx-slider">
            <div data-am-widget="slider" class="am-slider am-slider-c3 am-u-sm-9 am-u-sm-centered am-u-md-7 am-u-md-centered"
                 data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;slideshow&quot;:false}'>
                <ul class="am-slides">
                    {% for event in latest_events %}
                    <li>
                        <img class="am-img-thumbnail am-radius" src="{{ MEDIA_URL }}{{ event.image_url }}">
                        <div class="am-slider-desc">
                            <a href="{% url 'ffx:event_detail' event.event_id %}"> {{ event.title }} </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
    <hr>
    <!-- Search Area -->
    <div class="centered">
        <form action="" class="am-form am-g">
            <div class="am-form-group am-u-sm-7 am-u-md-4">
                <!-- Event Type -->
                <select name="type" class="am-input-sm" data-am-selected>
                    {% if request.GET.type and request.GET.type == 'all' %}
                        <option value="all" selected>All</option>
                    {% else %}
                        <option value="all">All</option>
                    {% endif %}
                    {% if request.GET.type and request.GET.type == 'food' %}
                        <option value="food" selected>Free Food</option>
                    {% else %}
                        <option value="food">Free Food</option>
                    {% endif %}
                    {% if request.GET.type and request.GET.type == 'job' %}
                        <option value="job" selected>Job Info Session</option>
                    {% else %}
                        <option value="job">Job Info Session</option>
                    {% endif %}
                </select>
            </div>

            <!-- Start Date -->
            <div class="am-form-group am-form-icon am-u-sm-5 am-u-md-3">
                <span class="am-icon-calendar"></span>
                <input type="text" class="am-form-field" name="event_date" id="my-datepicker" value="{{ request.GET.event_date }}" placeholder="Date" readonly data-am-datepicker/>
            </div>
            <div class="am-form-group am-u-sm-6 am-u-md-3">
                <!--data-am-modal="{target: '#as-prompt'}"-->
                <button type='button' class="am-btn am-btn-success" id="advanced-search-prompt">Advanced Search</button>
            </div>
            <div class="am-form-group am-u-sm-6 am-u-md-2">
                <button class="am-btn am-btn-success">Search</button>
            </div>
        </form>
    </div>
    <!-- Event list -->
    {% include 'events_list.html' %}

    <div class="am-modal am-modal-prompt" tabindex="-1" id="as-prompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">Advanced Search</div>
            <div class="am-modal-bd">
                <select id="type" name="type" data-am-selected class="am-modal-prompt-input">
                            <option value="all">All</option>
                            <option value="food">Free Food</option>
                            <option value="job">Job Info Session</option>
                </select>
                <input type="text" class="am-modal-prompt-input" id="date" name="date" readonly placeholder="Date" data-am-datepicker/>
                <input type="text" class="am-modal-prompt-input" id="title" name="title" placeholder="Title"/>
                <input type="text" class="am-modal-prompt-input" id="organizer" name="organizer" placeholder="Organizer"/>
                <input type="text" class="am-modal-prompt-input" id="address" name="address" placeholder="Address"/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>Cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm>Search</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script src="{% static 'js/endless-pagination.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script type="text/javascript">
        $.endlessPaginate({paginateOnScroll: true});
        $('#my-datepicker').datepicker({locale: 'en_US'});
        $('#date').datepicker({locale: 'en_US'});

        var index_url = "{% url 'ffx:event_index' %}";
        $(function() {
            $('#advanced-search-prompt').on('click', function() {
                $('#as-prompt').modal({
                    relatedTarget: this,
                    onConfirm: function(e) {
                        index_url += ('?type=' + e.data[0] + '&date=' + e.data[1] + '&title=' + e.data[2]
                            + '&organizer=' + e.data[3] + '&address=' + e.data[4]);
                        window.location.replace(index_url);
                    },
                    onCancel: function(e) {
                    }
                });
              });
        });


    </script>

{% endblock %}