{% if events %}
    <div class="am-g">
        <ul class="event-list" id="event-list">
            {% include page_template %}
        </ul>
    </div>
{% endif %}

<div class="am-modal" tabindex="-1" id="cancel-register-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <span class="am-icon-warning">Cancel Registration</span>
        </div>
        <div class="am-modal-bd">
            Are you gonna cancel this registration?
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>No</span>
            <span class="am-modal-btn" data-am-modal-confirm>Yes</span>
        </div>
    </div>
</div>

{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#event-list').find('.register-btn').on('click', function () {
            var event_id = $(this).attr('data-id');
            var register_url ="{% url 'ffx:event_register' 999 %}".replace (999, event_id);
            var signin_url = "{% url 'ffx:signin' %}";
            $.ajax({
                url: register_url,
                type: 'GET',
                dataType: 'JSON',
                success: function (data) {
                    var return_code = data.return_code;
                    if (return_code == 0) {
                        window.location.reload();
                    }
                    else if(return_code == 100){
                        window.location.replace(signin_url)
                    }
                    else {
                        alert(data.return_desc);
                    }
                },
                error: function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });

    $(function() {
        $('#event-list').find('.cancel-register-btn').on('click', function () {
			$('#cancel-register-modal').modal({
				relatedTarget: this,
				onConfirm: function() {
					var event_id = $(this).attr('data-id');
                    var cancel_register_url ="{% url 'ffx:event_cancel_register' 999 %}".replace (999, event_id);
					$.ajax({
						url: url,
						type: 'GET',
                        dataType: 'JSON',
                        success: function (data) {
                            var return_code = data.return_code;
                            if (return_code == 0) {
                                window.location.reload();
                            }
                            else {
                                alert(data.return_desc);
                            }
                        },
                        error: function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
					})
				},
				// closeOnConfirm: false,
				onCancel: function() {
				}
			});
		})
    });
</script>