{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="wrapper">
		<h1>Event Detail</h1>
		<div class="event-info am-g">
			<div class="event-img clearfix am-u-sm-12 am-u-md-6">
				<img src="{{ event.image_url }}">
			</div>
			<div class="event-brief-info am-u-sm-12 am-u-md-6">
				<ul class="am-avg-sm-1">
					<li class="am-text-truncate">
                        <span class="am-icon-navicon am-icon-fw"></span> {{ event.title }}
                    </li>
                    <li class="am-text-truncate">
                        <span class="am-icon-user am-icon-fw"></span> {{ event.organizer }}
                    </li>
                    <li class="am-text-truncate">
                        <span class="am-icon-clock-o am-icon-fw"></span> {{ event.date }} ({{ event.duration }}Hours)
                    </li>
                    <li class="am-text-truncate">
                        <span class="am-icon-map-marker am-icon-fw"></span> {{ event.location }}
                    </li>
                    <li>
                        <span class="am-icon-tags am-icon-fw"></span> {{ event.tags }}
                    </li>
                    <li>
                        <span class="am-icon-users am-icon-fw"></span> {{ event.participants_count }} going
                        <a class="am-btn am-btn-primary am-btn-xs" href="">Participate</a>
                    </li>
				</ul>
			</div>
		</div>
        <article class="am-article event-description">
            <div class="am-article-hd">
                <h1 class="am-article-title">Description</h1>
            </div>

            <div class="am-article-bd">
                <p class="am-article-lead">{{ event.description }}</p>
            </div>
        </article>
	</div>
{% endblock %}