{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Latest Events -->
    {% if latest_events %}
        <div class="am-g">
            <div data-am-widget="slider" class="fxx-slider am-slider am-slider-c3 am-u-sm-9 am-u-sm-centered am-u-md-9 am-u-md-centered"
                 data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;slideshow&quot;:false}'>
                <ul class="am-slides">
                    {% for event in latest_events %}
                    <li>
                        <img src="{{ event.image_url }}">
                        <div class="am-slider-desc">{{ event.title }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No events are available.</p>
    {% endif %}

    <!-- Search Area -->
    <div class="centered">
        <form action="" class="am-form am-g">
            <div class="am-form-group am-u-sm-7 am-u-md-4">
                <!-- Event Type -->
                <select name="event_type" data-am-selected>
                    {% if event_type and event_type == '' %}
                        <option value="all" selected>All</option>
                    {% else %}
                        <option value="all">All</option>
                    {% endif %}
                    {% if event_type and event_type == 'food' %}
                        <option value="food" selected>Free Food</option>
                    {% else %}
                        <option value="food">Free Food</option>
                    {% endif %}
                    {% if event_type and event_type == 'job' %}
                        <option value="job" selected>Job Info Session</option>
                    {% else %}
                        <option value="job">Job Info Session</option>
                    {% endif %}
                </select>
            </div>

            <!-- Start Date -->
            <div class="am-form-group am-form-icon am-u-sm-5 am-u-md-3">
                <span class="am-icon-calendar"></span>
                <input type="text" class="am-form-field" name="event_date" value="{{ event_date }}" placeholder="Start Date" readonly data-am-datepicker/>
            </div>
            <div class="am-form-group am-u-sm-6 am-u-md-3">
                <button class="am-btn am-btn-success am-fr">Advanced Search</button>
            </div>
            <div class="am-form-group am-u-sm-6 am-u-md-2">
                <button class="am-btn am-btn-success">Search</button>
            </div>
        </form>
    </div>

    <!-- Event list -->
    {% if events %}
        <div class="am-g">
            <ul class="event-list">
    {% include page_template %}
            </ul>
        </div>
    {% else %}
        <p>No events are available.</p>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/endless-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}