{% load endless %}
{% paginate events %}
{% for event in events %}
<li class="event-item">
        <div class="event-img clearfix">
            <a href="{% url 'ffx:event_detail' event.id %}"><img src="{{ event.image_url }}"></a>
        </div>
        <div class="event-brief-info">
            <ul class="am-avg-sm-1 am-avg-md-2">
                <li class="am-text-truncate">
                    <span class="am-icon-navicon am-icon-fw"></span> {{ event.title }}
                </li>
                <li class="am-text-truncate">
                    <span class="am-icon-user am-icon-fw"></span> {{ event.organizer }}
                </li>
                <li class="am-text-truncate">
                    <span class="am-icon-clock-o am-icon-fw"></span> {{ event.date }} ({{ event.duration }}Hours)
                </li>
                <li class="am-text-truncate">
                    <span class="am-icon-map-marker am-icon-fw"></span> {{ event.location }}
                </li>

            </ul>
            <ul class="am-avg-sm-1">
                <li>
                    <span class="am-icon-tags am-icon-fw"></span> {{ event.tags }}
                </li>
            </ul>
            <ul class="am-avg-sm-2">
                <li>
                    <span class="am-icon-users am-icon-fw"></span> {{ event.participants_count }} going
                </li>
                <li>
                    <a class="am-btn am-btn-primary am-btn-xs register-btn" id="{{ event.id }}">Register</a>
                </li>
            </ul>
        </div>
    </li>
{% endfor %}
{% show_more %}