{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br>
<div class="container">
    <div>
        <div class="am-u-md-3 am-u-sm-12">
            <h2 style="font-size:200%;"><b>{{ user.name }}</b></h2>
            Username: {{ user.name }}
            <br>
            Address: {{ user.address }}
            <br>
            Phone: {{ user.phone }}

            <div class="am-g" style="margin-top: 20px;">
                <a href="{% url 'ffx:event_create' %}"><button class="am-btn am-btn-success am-btn-block">Create New Event</button></a>
            </div>
            <br>

        </div>
        <div class="am-u-md-9 am-u-sm-12">
            <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
                <ul class="am-nav am-nav-tabs">
                  {% if request.GET.role == 'organizer' %}
                    <li class=""><a href="{% url 'ffx:myinfo' %}?role=participant">I Participated</a></li>
                    <li class="am-active"><a>I Created</a></li>
                  {% else %}
                    <li class="am-active"><a>I Participated</a></li>
                    <li class=""><a href="{% url 'ffx:myinfo' %}?role=organizer">I Created</a></li>
                  {% endif %}
                </ul>
                <br>
                <!-- Event list -->
                {% include 'events_list.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script src="{% static 'js/endless-pagination.js' %}"></script>
{% endblock %}