{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
  <div class="am-g">
    <h1 style="font-size: 200%; margin-top: 30px;">FFX</h1>
    <p>Find Free X<br/>Feed Yourself Best Oppotunities!</p>
  </div>
</div>

<br> <br>

<div class="am-g">
  <div class="am-u-lg-6 am-u-md-6 am-u-sm-10 am-u-sm-centered">
    <h3>Sign In</h3>
    <hr>
    <form method="post" class="am-form">
      <label for="email">Username:</label>
      <input type="email" name="" id="email" value="">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="" id="password" value="">
      <br />
      <div class="am-cf">
        <input type="submit" name="" value="Sign In" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
    <hr>
  </div>
</div>

{% endblock %}