.fxx-slider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.event-list .event-item{
	border-bottom: 1px solid #E7E7E7;
}
.event-list .event-item + .event-item{
	margin-top: 20px;
}
.event-list ul{
	padding: 0;
	list-style-type: none;
}

.event-list img.img{
	width: 200px;
	height: 200px;
}
.event-list .item-info{
	margin: 5px 0 10px;
	color: #B2AEAD;
}


footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
}