.fxx-slider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.event-list .event-item{
	border-bottom: 1px solid #E7E7E7;
	display: -webkit-flex;
    display: flex;
}
.event-list ul{
	padding: 0;
	list-style-type: none;
}

.event-list .event-item .event-img{
    position: relative;
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    height: 150px;
    min-width: 50px;
}
.event-list .event-item .event-img img{
    width: auto;
    height: auto;
}
.event-list .event-item .event-brief-info{
    -webkit-flex: 3;
    flex: 3;
    padding-left: 20px;
}

footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
}